  <div class="container">
    <h4>Your information:</h4>
    <div class="row">

      <div class="col-md-4">
        <div class="form-group fixed-height">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
                  <%= f.input :name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "name" }%>
         <%= f.input :email, required: true, autofocus: true %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <%= f.input :password,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
           <%= f.input :age,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "age" }%>
          <%= f.input :photo,
                     autofocus: true,
                     :input_html => { value: '#{@photo}'} %>
          <%= f.input :photo_attachment, as: :hidden %>
        </div>
      </div>

      <div class="col-md-8 fixed-height">
        <div class="form-group col-md-12">
          <%= f.input :address,
                     required: true,
                     input_html: { autocomplete: "address",
                     placeholder: 'your address' } %>
          <%= f.label "Are you a snail?" %>
          <%= f.check_box :snail %>
        </div>
        </div>
      </div>
  </div>

  <div class="container">
    <%= f.button :submit, "Sign up", :class => "btn btn-primary btn-lg" %>&nbsp;&nbsp;&nbsp;or&nbsp;
    <%= render "devise/shared/links" %>
  </div>
<% end %>
</div>
</div>
