<div class="container">
  <h2>Your information:</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group fixed-height">
          <%= f.error_notification %>
          <%= f.input :name,
              required: true,
              autofocus: true,
              input_html: { autocomplete: "name" }%>
          <%= f.input :email, required: true, autofocus: true %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <%= f.input :password,
            required: true,
            input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
            required: true,
            input_html: { autocomplete: "new-password" } %>
          <%= f.input :age,
            required: true,
            autofocus: true,
            input_html: { autocomplete: "age" }%>
          <%= f.input :photo, as: :file %>
        </div>
      </div>
      <div class="col-md-8 fixed-height">
        <div class="form-group col-md-12">
          <%= f.input :address,
            required: true,
            input_html: { autocomplete: "address",
            placeholder: 'your address' } %>
          <%= f.input :snail, label: "Are you a snail?" %>
        </div>
      </div>
      <%= f.button :submit, "Sign up", :class => "btn btn-primary btn-lg" %>
      <%= render "devise/shared/links" %>
    </div>
    <% end %>
</div>



