<div class="page-title">
  <h1>My bookings</h1>
</div>

<div class="offer-content cards cards-home">
  <% @bookings.each do |booking| %>
    <%= link_to offer_path(booking.offer), class: "card-link" do %>
      <div class="card-product">
        <% if booking.offer.photos.attached? %>
          <%= cl_image_tag booking.offer.photos.first.key %>
        <% else %>
          <%= image_tag("default_shell.png") %>
        <% end %>
          <div class="card-product-infos">
            <h2><%= booking.offer.offer_title %></h2>
            <p>For <strong><%= booking.capacity %></strong> slugs, 
            booking starting from <strong><%= booking.arrival_date %></strong> 
            to <strong><%= booking.end_date %></strong></p>
          </div> 
      </div>
    <% end %>
  <% end %>
</div>
