<div class ="container-bg">
    <h1>You don't have a Shellter ? Let's take mine</h1>
    <div class="searchbar">
    </div>
</div>

<div class="content">
    <h1>Our best shells</h1>
    <p>Look at these DUUUUUDE</p>

    <div class="cards">
        <div class="card-trip">
            <%= image_tag("rose.jpeg") %>
            <div class="card-trip-infos">
            <div>
                <h2>Pink Shellz</h2>
                <p>Pinky shell to make your dreams...</p>
                <p>Price per day (120€/night) - 2 slugs<p>
            </div>
          <%= image_tag("default_avatar.jpg", class: "card-trip-user avatar-bordered") %>
            </div>
        </div>
        
        <div class="card-trip">
            <%= image_tag("blue.jpeg") %>
            <div class="card-trip-infos">
            <div>
                <h2>Blue Shellz</h2>
                <p>Come and visit this natural blue shell...</p>
                <p>Price per day (90€/night) - 2 slugs<p>
            </div>
          <%= image_tag("default_avatar.jpg", class: "card-trip-user avatar-bordered") %>
            </div>
        </div>
        
        <div class="card-trip">
            <%= image_tag("arc.jpeg") %>
            <div class="card-trip-infos">
            <div>
                <h2>Rainbow Shellz</h2>
                <p>Let's see the life in every color...</p>
                <p>Price per day (130€/night) - 2 slugs<p>
            </div>
          <%= image_tag("default_avatar.jpg", class: "card-trip-user avatar-bordered") %>
            </div>
        </div>
</div>

</div>
