<div class ="container-bg">
    <h1>Let's find your futur Shellter</h1>
    <%= form_tag offers_path, method: :get, class: "input-group mb-3 searchbar" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control transparence",
        placeholder: "Enter a city"
      %>
      <%= submit_tag "Search", class: "input-group-text btn-search" %>
    <% end %>
</div>

<div class="content">
    <h1>Noraj de ma paj</h1>
    <p>Look at these DUUUUUDE</p>

    <div class="cards">
        <div class="card-trip">
            <%= image_tag("shells.jpg") %>
            <div class="card-trip-infos">
            <div>
                <h2>Shellz</h2>
                <p>Desc about shellz...</p>
                <p>Price per day (€/night) - 2 slugs<p>
            </div>
          <%= image_tag("default_avatar.jpg", class: "card-trip-user avatar-bordered") %>
            </div>
        </div>

        <div class="card-trip">
            <%= image_tag("shells.jpg") %>
            <div class="card-trip-infos">
            <div>
                <h2>Shellz</h2>
                <p>Desc about shellz...</p>
                <p>Price per day (€/night) - 2 slugs<p>
            </div>
          <%= image_tag("default_avatar.jpg", class: "card-trip-user avatar-bordered") %>
            </div>
        </div>

        <div class="card-trip">
            <%= image_tag("shells.jpg") %>
            <div class="card-trip-infos">
            <div>
                <h2>Shellz</h2>
                <p>Desc about shellz...</p>
                <p>Price per day (€/night) - 2 slugs<p>
            </div>
          <%= image_tag("default_avatar.jpg", class: "card-trip-user avatar-bordered") %>
            </div>
        </div>
</div>

</div>
