<div class="container">
  <h1> Update your offer </h1>
    <div class="form-group fixed-height">
      <%= simple_form_for(@offer) do |f| %>
        <%= f.input :offer_title, label: "Title", placeholder: "Ex: Shell don Cooper" %>
        <%= f.input :location_address, label: "Address", placeholder: "Ex: 123 rue du Magnolia, 13009 Marseille" %>
        <%= f.input :shell_type, placeholder: "Ex: Loft, T2, T3, etc." %>
        <%= f.input :description, placeholder: "Ex: What do you have to say about your shell ? (Min 120 characters)" %>
        <%= f.input :capacity, label: "For how many slugs ?", placeholder: "Ex: 2" %>
        <%= f.input :price_per_day, placeholder: "Ex: 65" %>
        <%= f.input :start_available_time, label: "Available from" %>
        <%= f.input :end_available_time, label: "Until" %>
        <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "Add some photos" %>
        <%= f.button :submit, "Update your offer", :class => "btn btn-primary btn-lg" %>
      <% end %>
    </div>
</div>
