<div class="page-title">
  <h1>All the shells</h1>
</div>

<div class="cards-container">
  <div class="cards">
    <% @offers.each do |offer| %>
      <%= link_to offer_path(offer), class: "card-link" do %>
        <div class="card-trip">
          <% if offer.photos.attached? %>
            <%= cl_image_tag offer.photos.first.key %>
          <% else %>
            <%= image_tag("default_shell.png") %>
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h2><%= offer.offer_title %></h2>
              <p><%= offer.description[0..50] %>...</p>
              <p><%= offer.price_per_day %>€/night · <%= offer.capacity %> slug<%= offer.capacity > 1 ? 's' : '' %></p>
              <br>
            </div>
            <% if offer.user.photo.attached? %>
              <%= cl_image_tag offer.user.photo.key, class: "card-trip-user avatar-bordered" %>
            <% else %>
              <%= image_tag("default_avatar.jpg", class: "card-trip-user avatar-bordered") %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div id="map"
   style="width: 100%; height: 80vh; position: sticky; top: 16px; border-radius: 8px; margin-top: 0; margin-right: 16px; margin-left: 12px;"
   data-markers="<%= @markers.to_json %>"
   data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>


