<div class="page-title">
  <h2>All your offers</h2>
</div>

<div class="cards">
  <% @offers.each do |offer| %>
      <%= link_to offer_path(offer), class: "card-link" do %>
    <div class="card-trip">
      <% if offer.photos.attached? %>
        <%= cl_image_tag offer.photos.first.key %>
      <% else %>
        <%= image_tag("default_shell.png") %>
      <% end %>
      <div class="card-trip-infos">
        <div>
          <h2><%= offer.offer_title %></h2>
          <p><%= offer.description[0..50] %>...</p>
          <p><%= offer.price_per_day %>€/night · <%= offer.capacity %> slug<%= offer.capacity > 1 ? 's' : '' %></p>
          <br>
        </div>
        <% if offer.user.photo.attached? %>
          <%= cl_image_tag offer.user.photo.key, class: "card-trip-user avatar-bordered" %>
        <% else %>
          <%= image_tag("default_avatar.jpg", class: "card-trip-user avatar-bordered") %>
        <% end %>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
