<div class ="content-align">
  <div class="cards-show">
    <div class="card-desc">
      <div class="page-title">
        <h2><%=  @offer.offer_title %></h2>
        <p><%= @offer.location_address %></p>
        <p>Host : <%= @offer.user.name %></p>
      </div>


      <div class="offer-content">
        <% if @offer.photos.attached? %>
          <% @offer.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 250, width: 300, crop: :fill %>
          <% end %>
        <% else %>
          <%= image_tag("default_shell.png") %>
        <% end %>
            <p><%= @offer.price_per_day %>€/day</p>
            <p><%= @offer.shell_type.capitalize %> for <%= @offer.capacity %> slug<%= @offer.capacity > 1 ? 's' : '' %></p>
            <p>Available from <%= @offer.start_available_time %> to <%= @offer.end_available_time %></p>
            <p><%= @offer.description %></p>
          </div>
          <% if policy(Booking).create? %>
    </div>
            <div class="card-form">
              <%= simple_form_for [@offer, @booking] do |f| %>
                <%= f.input :capacity, label: "For...", placeholder: "Max #{@offer.capacity} slugs", input_html: { min:"0", max: "#{@offer.capacity}" } %>
                <%= f.input :arrival_date, label: "From" %>
                <%= f.input :end_date, label: "To" %>
                <%= f.submit "Book the Shell", class: "btn btn-primary" %>
              <% end %>
            </div>
          <% end %>
      </div>
  </div>
  <div class ="content-align">
    <p><%= link_to "Back", offers_path, class: "btn-infos" %></p>
  </div>

  <div>
    <% if policy(@offer).edit? %>
      <%= link_to "Edit your offer",edit_offer_path(@offer.id) %>
    <% end %>

    <% if policy(@offer).destroy? %>
      <%= link_to "Delete your offer",offer_path(@offer),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
</div>
