<h1> <%=  @offer.offer_title %> </h1>
<p> <%= @offer.price_per_day %>€ </p>
<p> <%= @offer.description %> </p>

<% @offer.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<br>
<%= link_to 'Booking for this offer', new_offer_booking_path(@offer) %>
<br>
<% if policy(@offer).edit? %>
  <%= link_to "Edit #{@offer.offer_title}",edit_offer_path(@offer.id) %>
<% end %>
  |
<% if policy(@offer).destroy? %>
  <%= link_to "Delete #{@offer.offer_title}",offer_path(@offer),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
<% end %>
<br>
<br>
<%= link_to "Back",
            offers_path %>
