<div class ="content-align">
  <div class="cards-show">
    <div class="card-desc">
      <div class="page-title">
        <h2><%=  @offer.offer_title %></h2>
        <p><%= @offer.location_address %></p>
        <p>Host : <%= @offer.user.name %></p>
      </div>


      <div class="offer-content">
        <% if @offer.photos.attached? %>
          <% @offer.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 250, width: 300, crop: :fill %>
          <% end %>
        <% else %>
          <%= image_tag("default_shell.png") %>
        <% end %>
            <p><%= @offer.price_per_day %>€/day</p>
            <p><%= @offer.shell_type.capitalize %> for <%= @offer.capacity %> slug<%= @offer.capacity > 1 ? 's' : '' %></p>
            <p>Available from <%= @offer.start_available_time %> to <%= @offer.end_available_time %></p>
            <p><%= @offer.description %></p>
          </div>
          <% if policy(Booking).create? %>
    </div>
            <div class="form-container">
  <div class="form-group fixed-height">
    <h1 class="form-title">Book this Shell 🐌</h1>
    <%= simple_form_for [@offer, @booking] do |f| %>
      <%= f.input :capacity, label: "How many Slugs are you ?", placeholder: "Max #{@offer.capacity} slugs", input_html: { min:"0", max: "#{@offer.capacity}" }, input_html: { class: "input-field" }, label_html: { class: 'label-field' } %>
      <%= f.input :arrival_date, label: "When are you arriving ?", input_html: { class: "input-field" }, label_html: { class: 'label-field' } %>
      <%= f.input :end_date, label: "When are you leaving ?", input_html: { class: "input-field" }, label_html: { class: 'label-field' } %>
      <%= f.submit "Book the Shell !", class: "btn btn-submit" %>
    <% end %>
  </div>
</div>
          <% end %>
      </div>
  </div>
  <div class ="content-align">
    <p><%= link_to "Back", offers_path, class: "btn-infos" %></p>
  </div>

  <div>
    <% if policy(@offer).edit? %>
      <%= link_to "Edit your Shell",edit_offer_path(@offer.id), class: "btn btn-submit" %>
    <% end %>

    <% if policy(@offer).destroy? %>
      <%= link_to "Delete your Shell",offer_path(@offer),
                  class: "btn btn-submit",
                  method: :delete,
                  data: { confirm: "Do you really want to delete your Shell ?" } %>
    <% end %>
  </div>
</div>
<div id="map"
     style="width: 100%; height: 300px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
